*{
     padding:0;
     margin:0;
     box-sizing: border-box;
}
body{
      width:100vw;
      height:100vh;
      background: linear-gradient(#82D8F1,#82EEEA);
      display: flex;
      justify-content: center;
      align-items: center;
}
.card{
    width:600px;
    border-radius: 5px;
    border-right: 25px solid #4286F5;
    user-select: none;
    height:450px;
    padding:30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.card h1{
    color:#4286F5;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    height:100px;
}
.form-group input{
     height:50px;
     outline: none;
     font-size: 20px;
     padding: 10px;
     background-color: #dfe6e9;
     border: none;
}
.form-group label{
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
    color: gray;
}
.more{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 10px;
}
button{
    width:100%;
    height:50px;
    border: none;
    background: #4286F5;
    color:white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: #45aaf2;
    transition: 0.7s;
}
#check{
    width:30px;
    height:15px;
}
.more a{
    font-size: 20px;
}
.more label{
    font-size: 18px;
    text-transform: uppercase;
}
